* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 1fr 1fr 3.1fr 1fr;
}
.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  padding:40px;
}

.logo, .nav {
  grid-column: 1 / span 4;
}

.hero{
    grid-column: 1 / span 2;
}
.subhero{
    grid-column:3 / span 2;
}
.footer{
    grid-column: 1 / span 4;
}
ul li{
    display: inline-block;
    gap:100px;
    color:blue;
}


